<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RELFetchBatchSize</key>
	<integer>20</integer>
	<key>RELiTunesSearchBatchSize</key>
	<integer>30</integer>
	<key>RELReadingListModelName</key>
	<string>ReadingList</string>
	<key>ReadingListStoreName</key>
	<string>ReadingList</string>
	<key>RELReadingListStoreType</key>
	<string>sqlite</string>
	<key>RELiTunesSearchConcurrentOperationCount</key>
	<integer>10</integer>
	<key>RELUseAutolayout</key>
	<false/>
</dict>
</plist>
