<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>com.aboutobjects</string>
	<key>--exit-threshold</key>
	<integer>2</integer>
	<key>--ignore</key>
	<array>
		<string>Subdirectories to ignore go here</string>
		<string>Libraries</string>
		<string>Frameworks</string>
		<string>Testing</string>
	</array>
	<key>--logformat</key>
	<integer>1</integer>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>About Objects</string>
	<key>--project-name</key>
	<string>Reading List App</string>
	<key>--project-version</key>
	<string>1.0</string>
	<key>--repeat-first-par</key>
	<false/>
	<key>--templates</key>
	<string>/usr/local/share/appledoc/Templates</string>
	<key>--verbose</key>
	<string>3</string>
</dict>
</plist>
