{
	title = "My Summer Reading";
	authors = (
		{
			name = "Ernest Hemingway";
			books = (
				{
					title = "For Whom the Bell Tolls";
					year = 1951;
				},
				{
					title = "The Old Man and the Sea";
					year = 1952;
				},
			);
		},
		{
			name = "H.G. Wells";
			books = (
				{
					title = "The Time Machine";
					year = 1897;
				},
				{
					title = "The War of the Worlds";
					year = 1898;
				},
			);
		},
		{
			name = "Lewis Carroll";
			books = (
				{
					title = "Alice in Wonderland";
					year = 1865;
				},
			);
		},
	);
}